
<div class="container">
  <label class="fechaGG-wrapper">
    <div class="fechaGG">Fecha</div>
  </label>
  <div>
    <div class="div-GG1">
      <input
        #dateInput
        class="overlap-groupGG1 text-wrapperGG1 fechaGG1"
        style="width: 130px; z-index: 1;"
        type="date"
        name="fecha"
        (focus)="setDateLimits()"
        (change)="onDateChange($event)"
      />
      <div class="calendarGG" style="pointer-events: none; z-index: 2;"></div>
    </div>
  </div>
</div>


