<div *ngIf="selectedLabels.length > 0">
    <table>
      <thead>
        <tr>
          
          <th>Placa</th>
          <th>Otro Campo 1</th>
          <th>Otro Campo 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let label of selectedLabels">
          
          <td>{{ label }}</td>
          <td>Otro campo 1</td>
          <td>Otro campo 2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedLabels.length === 0">
    <p>No hay labels seleccionados.</p>
  </div>