<div class="container">
  <div class="observation-entry" *ngFor="let entry of observationEntries; let i = index">
    <label class="text" for="name-{{ i }}">Nombre:</label>
    <div class="dropdown">
    <select class="sdropdown" id="name-{{ i }}" (change)="onNameChange($event, i)">
      <option value="" disabled selected>Selecciona un nombre...</option>
      <option *ngFor="let name of getAvailableNames(i)" [value]="name" [selected]="entry.nombre === name">
        {{ name }}
      </option>
    </select>
  </div>

    <label class="text-area-personnel" for="observation-{{ i }}">Observación:</label>
    <textarea 
    class="text-personnel" 
      id="observation-{{ i }}" 
      (input)="onObservationChange($event, i)" 
      [(ngModel)]="entry.observacion"
      placeholder="Escribe aquí la observación...">
    </textarea>

    <!-- Botón para eliminar la entrada -->
    <button class="remove-button" (click)="removeObservationEntry(i)">Eliminar</button>
  </div>
  <button 
    (click)="addObservationEntry()" 
    [disabled]="!hasAvailableNames()"
  >
    Añadir Observación
  </button>
</div>

