.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 330px; /* Tamaño mínimo del contenedor */
}

.container {
  background-color: transparent;
  border-radius: 15px;
  max-width: 95%;
  min-height: 200px; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
  box-sizing: border-box; 
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.data-table {
  width: 100%; 
  border-collapse: collapse; 
  table-layout: fixed; /* Hace que la tabla sea más compacta */
}

.data-table th, .data-table td {
  border: none; 
  padding: 4px; /* Reducido para ahorrar espacio */
}

.data-table th {
  background-color: transparent; 
  text-align: center; 
  font-size: 10px; /* Reducido para ajustar el tamaño */
}

.data-table td {
  text-align: center; 
  font-size: 10px; /* Reducido para ajustar el tamaño */
}

.pagination-controls {
  text-align: center;
  margin-top: 20px; 
}

.pagination-controls button {
  margin: 0 5px; 
}

.text-regist {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding-top: 15px;
  margin-bottom: 15px;
}
