
  <div class="top-container">
    <div class="section">
      <p class="section-title">NOMBRE</p>
    </div>
    <div class="section">
      <p class="section-title">ENTRADA</p>
    </div>
    <div class="section">
      <p class="section-title">SALIDA</p>
    </div>
  </div>

  
<div class="container">
  <div class="content">
    <div *ngIf="dataForColumn.length > 0">
      <div *ngFor="let item of dataForColumn; let i = index" class="item">
        <div class="section">{{ item }}</div>
        
        <div class="section">
          <input type="text" placeholder="HH:mm" (input)="onEntradaChange($event, i)">
        </div>
        
        <div class="section">
          <input type="text" placeholder="HH:mm" (input)="onSalidaChange($event, i)">
        </div>
      </div>
    </div>
  </div>
</div>



