.container {
    background-color: #9ECBFF;
    border: 2px solid #235793;
    max-width: 95%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 15px;
}


label {
    font-weight: bold;
    color: #235793;
    margin-right: 20px;
}



.dropdown {
    background-color: #C9E2FF;
    border: 2px solid #194981;
    border-radius: 5px;
    color: #194981;
    font-weight: bold;

}

.dropdown option {
    background-color: #C9E2FF;
    border: 1px solid #235793;
    font-size: 18px;
    padding: 12px;
    color: #194981;
    font-weight: bold;
    
}

.dropdown:focus {
    border-color: #235793; 
    box-shadow: 0 0 0 2px #235793;
    outline: none;
}



.fechaGG-wrapper {
    margin-right: 10px;
}

.div-GG1 {
    display: flex;
    align-items: center;
}

.overlap-groupGG1 {
    background-color: #DFE5FE;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 130px;
    border: 2px solid #194981;
    color: #194981;
}

.overlap-groupGG1::-webkit-calendar-picker-indicator {
    filter: invert(34%) sepia(68%) saturate(3487%) hue-rotate(181deg) brightness(92%) contrast(89%);
}



.overlap-groupGG1::-webkit-input-placeholder {
    color: #194981;
}

.overlap-groupGG1 {
    color: #194981;
    border-color: 2px;
}

.calendarGG {
    margin-left: 10px;
    pointer-events: none;
    z-index: 2;
}
