<div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Andres Castaño Jimenez</td>
                    <td>
                        

                        
                        
                        <input type="text" (input)="formatoHora($event)" [value]="hora" placeholder="HH:mm" />


                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(0, $event)" [value]="registros[0].salida" /></td>
                </tr>
                <tr>
                    <td>María Andrea Perez Ramirez</td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraEntrada(1, $event)" [value]="registros[1].entrada" /></td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(1, $event)" [value]="registros[1].salida" /></td>
                </tr>
                <tr>
                    <td>Pedro ignacio saldarriaga Ramirez</td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraEntrada(2, $event)" [value]="registros[2].entrada" /></td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(2, $event)" [value]="registros[2].salida" /></td>
                </tr>
                <tr>
                    <td>Juan Andres Castaño Jimenez</td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraEntrada(0, $event)" [value]="registros[0].entrada" /></td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(0, $event)" [value]="registros[0].salida" /></td>
                </tr>
                <tr>
                    <td>María Andrea Perez Ramirez</td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraEntrada(1, $event)" [value]="registros[1].entrada" /></td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(1, $event)" [value]="registros[1].salida" /></td>
                </tr>
                <tr>
                    <td>Pedro ignacio saldarriaga Ramirez</td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraEntrada(2, $event)" [value]="registros[2].entrada" /></td>
                    <td><input type="text" placeholder="HH:mm"
                            (change)="actualizarHoraSalida(2, $event)" [value]="registros[2].salida" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>