<div>
    <div class="container">
      
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros; let i = index">
            <td>{{ registro.nombre }}</td>
            <td><input type="text" placeholder="HH:mm" (input)="formatoHora($event)" [value]="registro.entrada" /></td>
            <td><input type="text" placeholder="HH:mm" (input)="actualizarHoraSalida(i, $event)" [value]="registro.salida" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  