.container {
    background-color: #87D0F4; /* Hacer el fondo un poco transparente */
    border-radius: 15px;
    max-width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 10px; /* Añadir un poco de padding para separación */
}

table {
    width: 100%;
    border-collapse: collapse; /* Para que los bordes no se dupliquen */
}

 td {
    font-weight: 600;
    
    font-family: "Lato-Bold", Helvetica;
    margin-right: 10px; 
}

th {
    background-color: #87D0F4;
    color: white; /* Color de los títulos de las columnas en blanco */
}

input {
    width: calc(100% - 16px); /* Para tener en cuenta el padding */
    padding: 8px;
    box-sizing: border-box; /* Asegura que el padding no añada más ancho */
    font-weight: 600;
    font-family: "Lato-Bold", Helvetica;
    margin-right: 10px;
    border-radius: 15px;
    border-color: transparent;
    text-align: center;
}
