<div class="container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Entrada</th>
        <th>Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros; let i = index">
        <td>{{ registro.nombre[0] }}</td>
        <td>
          <input 
            type="text" 
            placeholder="HH:mm" 
            (input)="formatoHora($event); actualizarHoraEntrada(i, $event)" 
            [value]="registro.entrada"
          />
        </td>
        <td>
          <input 
            type="text" 
            placeholder="HH:mm" 
            (input)="formatoHora($event); actualizarHoraSalida(i, $event)" 
            [value]="registro.salida"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>