<div class="container">
    <div class="observation-entry" *ngFor="let entry of observationEntries; let i = index">
        <label class="text" for="fecha-{{ i }}">FECHA:</label>
        <div class="dropdown">
            <select class="sdropdown" id="fecha-{{ i }}" (change)="onFechaChange($event, i)">
                <option value="" disabled selected>SELECCIONA UNA FECHA...</option>
                <option *ngFor="let fecha of getAvailableFechas(i)" [value]="fecha" [selected]="entry.fecha === fecha">
                    {{ fecha }}
                </option>
            </select>
        </div>

        <label class="text" for="observation-{{ i }}">OBSERVACION:</label>
        <div class="text-area-container">
            <textarea class="text-personnel" id="observation-{{ i }}" (input)="onObservationChange($event, i)"
                [(ngModel)]="entry.observacion" placeholder="ESCRIBE AQUI LA OBSERVACION...">
        </textarea>
        </div>

        <div class="button-remove-container">
            <button class="remove-button" (click)="removeObservationEntry(i)">ELIMINAR</button>
        </div>
    </div>

    <div class="scontainer">
        <div class="button-add-container">
            <button class="add-button" (click)="addObservationEntry()">AGREGAR OBSERVACION</button>
        </div>
    </div>

</div>