  .consult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;
  }

  .navigate-button {
    background-color: #194981;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
  }

  .navigate-button:hover {
    background-color: #123456;
  }

  .navigate-button:disabled {
    background-color: #EFEFEF;
    color: #B0B0B0;
    cursor: not-allowed;
  }

  .consult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 35px;
  }



  .navigate-button {
    background-color: #194981;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    margin-bottom: 25px;
  }

  .navigate-button:hover {
    background-color: #123456;
  }

  .navigate-button:disabled {
    background-color: #EFEFEF;
    color: #B0B0B0;
    cursor: not-allowed;
  }

  .rcontainer {
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #A3C4F3;
  }

  .regist-range {
    position: relative;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  .regist-person {
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    color: #194981;
    background-color: #DFE5FE;
    border: 2px solid #194981;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
  }