<div class="container">
  <span class="text-form-title">Conductores</span>
  <div class="components">
    <div class="distribution">
      <div class="app-vehicle">
        <div class="text-form-vehicle-plate">
          <span>Matrícula</span>
        </div>
        <div class="text-form-vehicle-driver">
          <span>Seleccionar conductor</span>
        </div>
        <div class="text-form-vehicle-observations">
          <span>Observaciones</span>
        </div>
      </div>
    </div>
    <div *ngFor="let matricula of matriculasSeleccionadas; let i = index">
      <div class="distribution">
        <div class="app-vehicle">
          <div class="text-vehicle-plate">
            <span>{{ matricula }}</span>
          </div>
          <div class="text-form-vehicle-observations">
            <app-vehicle-driver-observation></app-vehicle-driver-observation> <!-- Componente para observaciones -->
          </div>
          <div class="text-form-vehicle-driver">
            <app-vehicle-driver-dropdown></app-vehicle-driver-dropdown> <!-- Componente para seleccionar conductor -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>