<div class="container">
  <span class="text-form-vehicle-driver">Conductores</span>
  <div class="components">
    <div class="distribution">
      <div class="app-vehicle">
        <div *ngIf="selectedLabels">
          <table class="table-plate-selector">
            <thead>
                <tr>

                    <th class="text-form-vehicle-driver">Placa</th>
                    <th class="text-form-vehicle-driver">Seleccionar conductor</th>
                    <th class="text-form-vehicle-driver">Observaciones</th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let label of selectedLabels">
                <tr>
                  <td>{{ label }}</td>
                  <td>Otro campo 1</td>
                  <td>Otro campo 2</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div *ngIf="!selectedLabels">
          <p>No hay vehículo seleccionado.</p>
        </div>
      </div>
    </div>
  </div>
</div>