.container {
    background-color: transparent;
    border-radius: 15px;
    max-width: 95%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.dropdown {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #194981;
    background: #DFE5FE;
    width: 95%;
    height: 80%;
}

.sdropdown {
    color: #194981;
    font-weight: 400;
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    outline-color: #194981;
    font-size: 18px;
    padding: 12px; 
    border-radius: 10px;
    appearance: none; 
    background-size: 16px;
    background-color: #DFE5FE;
}

.sdropdown option {
    font-size: 18px;
    padding: 12px;

}


