<div class="contenedor">
  <span class="text-title-vehicle-section">VEHÍCULOS Y MAQUINARIA AMARILLA</span>
  <div class="componentes">
    <div class="distribucion" *ngFor="let vehicleSet of vehicleSets; let i = index">
      <app-vehicle-type-dropdown (seleccionDropdown)="onVehicleTypeSelected($event, i)"></app-vehicle-type-dropdown>
      <app-vehicle-plate-selector [columnIndex]="vehicleSet.vehiculo" [(ngModel)]="vehicleSet.matricula"></app-vehicle-plate-selector>
      <button class="invisible-Icon" (click)="removeVehicleSet(i)" [disabled]="vehicleSets.length === 1">🗑</button>
    </div>
  </div>
  <div>
    <button class="invisible-button" (click)="addVehicleSet()">Agregar</button>
  </div>
</div>