.contenedor {
  border-radius: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-title-vehicle-section {
  color: #194981;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.componentes {
  width: 100%;
}

.distribucion {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px; /* Margen inferior entre las filas */
}

.dropdown-container {
  flex: 1 1 30%; /* Cada contenedor ocupa el 30% del ancho disponible */
}

.vehicle-type-dropdown,
.vehicle-plate-selector {
  width: 100%;
}

.invisible-icon {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #87d0f4; 
  height: 52px;
  width: 52px; 
  font-size: 40px;
  background: transparent;
  border: none; 
  cursor: pointer;
  padding: 0; 
  box-sizing: border-box; 
}

.invisible-icon:disabled {
  cursor: not-allowed; 
}

.buttons-align {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.invisible-button {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  color: #ffffff; 
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.5;
}

.invisible-button::after {
  content: '+'; 
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  background-color: #87d0f4;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}