<div class="contenedor">

    <span class="text-title-vehicle-section">VEHÍCULOS Y MAQUINARIA AMARILLA</span>

    <div class="componentes">
      <!-- Renderiza cada conjunto de vehículo -->
      <div class="distribucion" *ngFor="let vehicleSet of vehicleSets; let i = index">
        <app-vehicle-type-dropdown [(ngModel)]="vehicleSet.type"></app-vehicle-type-dropdown>
        <app-vehicle-plate-selector [(ngModel)]="vehicleSet.plate"></app-vehicle-plate-selector>
        <!-- Deshabilita el botón de eliminar si solo hay un conjunto -->
        <button class="invisible-button" (click)="removeVehicleSet(i)" [disabled]="vehicleSets.length === 1">Eliminar</button>
      </div>
    </div>
  
    <div>
      <!-- Botón para agregar un nuevo conjunto -->
      <button class="invisible-button" (click)="addVehicleSet()">Agregar</button>
    </div>
  </div>