<!-- vehicle-management.component.html -->

<div class="contenedor">
  <div class="text-title-vehicle-section">Gestión de Vehículos</div>

  <div class="componentes">
    <div *ngFor="let vehicleSet of vehicleSets; let i = index" class="distribucion">
      <div>
        <app-vehicle-plate-selector
          [columnIndex]="vehicleSet.vehiculo"
          [(ngModel)]="vehicleSet.matricula"
          (ngModelChange)="setMatricula($event, i)">
        </app-vehicle-plate-selector>
      </div>
      
      <app-vehicle-type-dropdown (seleccionDropdown)="onVehicleTypeSelected($event)"></app-vehicle-type-dropdown>

      
      <div class="buttons-align">
        <button class="invisible-button" (click)="removeVehicleSet(i)" [disabled]="vehicleSets.length === 1">
          <div class="invisible-Icon">🗑</div>
        </button>
      </div>
    </div>
    <button class="invisible-button" (click)="addVehicleSet()">Añadir</button>
  </div>
</div>