
<app-dropdown (seleccionDropdown)="handleDropdownSelection($event)"></app-dropdown>

    <div class="consult">
      <button class="navigate-button" (click)="navigateToConsultas()">Ir a Consultas</button>
    </div>

<app-check-transport></app-check-transport>
<app-data-select></app-data-select>
<app-personnel-manager></app-personnel-manager>
<app-data-observation (observationChanged)="handleObservationChanged($event)"></app-data-observation>
<div class="div-flex-container">
    <app-to-register></app-to-register>
    <app-to-second></app-to-second>
</div>
<router-outlet></router-outlet>


