.div-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: 100%;
  }
  
  .consult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px; 
}
  

  
  .navigate-button {
    background-color: #194981;
    color: #FFFFFF; 
    border: none; 
    border-radius: 4px; 
    padding: 6px 12px; 
    font-size: 12px; 
    line-height: 1.5;
    cursor: pointer; 
    text-align: center;
    margin-bottom: 25px;
  }
  
  .navigate-button:hover {
    background-color: #123456;
  }
  
  .navigate-button:disabled {
    background-color: #EFEFEF;
    color: #B0B0B0; 
    cursor: not-allowed; 
  }