
  <div class="top-container">
    <div class="section">
      <p class="section-title">FECHA</p>
    </div>
    <div class="section">
      <p class="section-title">ENTRADA</p>
    </div>
    <div class="section">
      <p class="section-title">SALIDA</p>
    </div>
  </div>

  <div class="content">
    <div *ngFor="let record of dateRecords; let i = index" class="item">
      <div class="section">
        <p class="date">{{ record.fecha || '-' }}</p>
      </div>
      <div class="section">
        <input type="text" placeholder="HH:mm" (input)="onEntradaChange($event, i)">
      </div>
      <div class="section">
        <input type="text" placeholder="HH:mm" (input)="onSalidaChange($event, i)">
      </div>
    </div>
  </div>
