html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #87d0f4;
  width: 100%;
  min-height: 100vh; /* Asegura que .fondo tenga al menos el 100% del viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.app-vehicle {
  width: 100%;
  max-width: 1200px;
  height: auto; /* Se ajustará según el contenido */
  margin: 0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
}

.item {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}