html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #87d0f4;
  width: 100%;
  min-height: 100vh; /* Asegura que .fondo tenga al menos el 100% del viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.app-vehicle {
  width: 100%;
  max-width: 1200px;
  height: auto; /* Se ajustará según el contenido */
  margin: 0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
}

.item {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.container {
  background-color: transparent;
  border-radius: 15px;
  max-width: 95%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.x-00-primary-button_49-21 {
  position: relative; 
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #194981;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 80px;
  height: 40px;
}

.text-enviar_49-22 {
  color: #194981;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.invisible-button {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  opacity: 0; 
  border: none;
  cursor: pointer;
}
