.container {
    background-color: #9ECBFF;
    border-radius: 15px;
    max-width: 95%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border: 2px solid #235793;
}

.dropdown {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #235793;
    background-color: #C9E2FF;
    width: 95%;
    height: 80%;
    
}

.sdropdown {
    color: #235793;
    font-weight: 400;
    text-align: center;
    width: 100%;
    border: 2px solid transparent;
    outline-color: #235793;
    font-size: 18px;
    padding: 12px; 
    border-radius: 10px;
    appearance: none; 
    background-size: 16px;
    background-color: #C9E2FF;
    font-weight: bold;
}

.sdropdown option {
    font-size: 18px;
    padding: 12px;
    color: #194981;
    font-weight: bold;
}